<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--    properties 第1种用法，引入外部配置文件-->
<!--    <properties resource="application.properties"></properties>-->

<!--    <settings>-->
        <!--        开启日志打印-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--    </settings>-->

    <!--  properties 第2种用法,在配置文件中配置属性 -->
    <!--    <properties>-->
    <!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url" value="jdbc:mysql://localhost:3306/testdb?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC"/>-->
    <!--        <property name="username" value="test"/>-->
    <!--        <property name="password" value="test"/>-->
    <!--    </properties>-->

    <!--    设置别名-->
    <typeAliases>
        <!--     单个设置别名-->
        <!--       <typeAlias type="Student" alias="Student"/>-->
        <typeAlias type="java.util.ArrayList" alias="array"></typeAlias>

        <!--        批量设置别名-->
        <package name="com.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="mapper/StudentMapper_bak.xml"/>-->

        <!--   方式1：     使用相对于类路径的资源引用-->
        <!--        <mapper resource=""/>-->

        <!--        方式2:使用映射器接口实现类的完全限定类名-->
        <!--        <mapper class="com.mapper.StudentMapper"/>-->

        <!--        方式3：将包内的映射器接口实现全部注册为映射器-->
        <package name="com.xyz.Mapper"/>
    </mappers>
</configuration>